<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
            <img src="/img/origin-logo.png"/>
            <input type="text" v-model="d.attr1" v-on:change="attr1Updated();" onchange="console.log('js onchange');"/><br/>
            <select v-model="d.attr2" onchange="console.log('js onchange');" v-on:change="attr2Updated();" >
                <option v-for="a in d.attr2s" v-bind:value="a" >{{a}}</option>
            </select>
        </div>
        <script>
            let app = new Vue({
                el: "#app",
                data: {
                    d: {
                        
                    }
                },
                watch: {
                    "d.attr1": function (newValue, oldValue) {
                        console.log(newValue + ":" + oldValue);
                    },
                    "d.attr2": function (newValue, oldValue) {
                        console.log(newValue + ":" + oldValue);
                    },
                    d: {
                        handler: function () {
                            console.log("d updated");
                        },
                        deep: true
                    }
                },
                methods: {
                    attr1Updated: function () {
                        console.log("attr1Updated");
                        fireUpdateEvent("attr1");
                    },
                    attr2Updated: function () {
                        console.log("attr2Updated");
                    }
                }
            });
            function fireUpdateEvent(name){
                $.ajax("[[${url}]]", {
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(app.d),
                    success: function(data){
                        console.log(data);
                        app.d=data;
                    }
                });
            }
        </script>
        <script th:inline="javascript">
            let value = [[${data}]];
            app.d=value;
            console.log(app.attr1Updated);
        </script>
    </body>
</html>
