<div th:fragment="Main">
    <input type='number' v-model='viewModel.startValue' v-on:change='fireUpdate("startValueUpdated")'/><br/>
    <select v-model="viewModel.selectedSecondValue">
        <option v-for="v in viewModel.sequentialValues" v-bind:value="v">{{v}}</option>
    </select><br/><!-- comment -->
    {{viewModel.selectedSecondValue}}
</div>