<div th:fragment="Main">
    <script>
        function afterAttrUpdated(){
            console.log("afterAttrUpdated");
        }
    </script>
    <input type='text' v-model='viewModel.attr1' v-on:change='fireUpdate("attr1Updated", afterAttrUpdated)'/><br/>
    {{viewModel.attr1}}, {{viewModel.attr2}}<br/>
    <button v-on:click="fireUpdate('attrUpdated', afterAttrUpdated);">Update</button>
</div>